{% extends "base.html" %}
{% block title %}Add Question{% endblock %}

{% block content %}
<div class="card">
    <h3>Add New Question</h3>
    {% if error_message %}
  <div class="alert">{{ error_message }}</div>
{% endif %}


    <form method="post">
        {% csrf_token %}

        {{ question_form.as_p }}

        <div class="form-group">
            <label>Choice 1</label>
            <input type="text" name="choice1" >
        </div>

        <div class="form-group">
            <label>Choice 2</label>
            <input type="text" name="choice2" >
        </div>

        <div class="form-group">
            <label>Choice 3</label>
            <input type="text" name="choice3" >
        </div>
        

        <button type="submit" class="btn btn-primary">
            Add Question
        </button>
        <a href="{% url 'polls:index' %}" class="btn btn-secondary">
            Cancel
        </a>
    </form>
</div>
{% endblock %}
